{{!-- <button class="change-sleep" data-id="{{id}}" 
              data-newsleep="{{sleep}}">
        </button> --}}

<li class="list-group-item beige">
    <h4 data-devoured="{{devour}}">{{burger_name}}
        <button type="button" class="btn btn-secondary gray-button" 
                id="devour-btn" data-id="{{id}}">
            Devour it!
        </button>
    </h4>
</li>